In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=pd.read_csv('CreditCard.csv')
data.head()

,Unnamed: 0,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [6]:
data.columns

Index(['Unnamed: 0', 'card', 'reports', 'age', 'income', 'share',
       'expenditure', 'owner', 'selfemp', 'dependents', 'months', 'majorcards',
       'active'],
      dtype='object')

In [7]:
data.nunique()

Unnamed: 0     1319
card              2
reports          13
age             418
income          431
share          1162
expenditure     981
owner             2
selfemp           2
dependents        7
months          193
majorcards        2
active           35
dtype: int64

In [8]:
data['dependents'].unique()

array([3, 4, 0, 2, 1, 6, 5])

In [10]:
data[data['age']>30]
data.head()

,Unnamed: 0,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [17]:
df=data[data['active']>6][['age','income','share']]
df.head()

         age  income     share
0   37.66667    4.52  0.033270
1   33.25000    2.42  0.005217
3   30.50000    2.54  0.065214
9   28.41667    3.20  0.019780
10  30.50000    3.95  0.078025

In [ ]:
sns.distplot(data['income'] ,bins=5)